.cover__backdrop {
    background-color: #2A2C2F;
    opacity: .3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    transition: opacity .2s linear;
}
