.lead__caption {
    color: #fff;
    max-width: 158px;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 320px){
    .lead__caption {
        font-size: 10px;
        line-height: 14px;
        padding-left: 16px;
    }
}
